/********** MOBILE-FIRST **********/
* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  margin: 0px;
  padding: 0px;
}

.header{
  text-align: center;
  color: #2D577F;
  margin-top: 0px;
}

.header h1 {
  font-size: 1.75em;
}

.section-header{
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 0px 10px 0px 10px;
  border: 5px solid #2D577F;
  font-size: 1.25em;
  color: #2D577F;
}

.row {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.row.contents>div{
  position: relative;
  border: 5px solid #2D577F;
  padding: 30px 10px 10px 10px;
  margin-top: 10px;
}

#chicken .section-header{
  background-color: #FF7A72;
}

#beef .section-header{
  background-color : #5AAFFF;
}

#sushi .section-header{
  background-color: #BFCC34;
}

/********** DESKTOP **********/
@media (min-width: 992px) {
  .header{
    font-size: 2.5em;
  }
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 30%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .row.contents>div{
    margin-left: 5%;
  }
  .row.contents>div:first-child{
    margin-left: 0;
  }
}
/********** TABLET **********/
@media (min-width: 768px) and (max-width: 991px) {
  .header{
    font-size: 2em;
  }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 49%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
  .row.contents>div{
    margin-left: 2%;
  }
  .row.contents>div:first-child{
    margin-left: 0;
  }
  .row.contents>div:last-child{
    margin-left: 0;
  }
}
